<h1 align='center'> Car Project Using Linear Regression</h1>

# Business Problem

<b>Predicting Car Prices Using Linear Regression</b>

In [2]:
import numpy as np
import pandas as pd

# Import Dataset

In [14]:
car_path1='Car details v3.csv'
car_path2='CAR DETAILS FROM CAR DEKHO.csv'
data1=pd.read_csv(car_path1)
data2=pd.read_csv(car_path2)
cars=pd.concat([data1,data2])

In [15]:
cars.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [16]:
cars.shape

(12468, 13)

In [17]:
cars.describe()

               year  selling_price     km_driven        seats
count  12468.000000   1.246800e+04  1.246800e+04  7907.000000
mean    2013.555743   5.915773e+05  6.856508e+04     5.416719
std        4.118485   7.377876e+05  5.333721e+04     0.959588
min     1983.000000   2.000000e+04  1.000000e+00     2.000000
25%     2011.000000   2.400000e+05  3.500000e+04     5.000000
50%     2014.000000   4.200000e+05  6.000000e+04     5.000000
75%     2017.000000   6.500000e+05  9.000000e+04     5.000000
max     2020.000000   1.000000e+07  2.360457e+06    14.000000

In [18]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12468 entries, 0 to 4339
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           12468 non-null  object
 1   year           12468 non-null  int64
 2   selling_price  12468 non-null  int64
 3   km_driven      12468 non-null  int64
 4   fuel           12468 non-null  object
 5   seller_type    12468 non-null  object
 6   transmission   12468 non-null  object
 7   owner          12468 non-null  object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.3+ MB

In [32]:
total_cells=np.product(cars.shape)
total_missing=cars.isnull().sum().sum()
percent_missing=int((total_missing / total_cells)*100)
print(str(percent_missing) + '% of the data is missing')

14% of the data is missing

In [47]:
cars.fuel.value_counts()

Diesel      6555
Petrol      5754
CNG           97
LPG           61
Electric       1
Name: fuel, dtype: int64

In [ ]:
car